body {
  background-color: #E6FCFF;
  font-family: Avantgarde, Optima, sans-serif;
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: #FF1291;
}

ul {
  color: #FF1291;
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
  padding: 0;

}

ul li {
  padding: 8px 16px;
  
}

ul li:last-child {
  border-bottom: none; 
} 

input {

  border: 5px white; 
  padding: 10px;
  background: rgba(255,255,255,0.5);
  margin: 5px;
}

::placeholder {
  opacity: 0.3;
  text-align: left;
}

button {
  background-color: #0DA2B2;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 24px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 8px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

button:hover {
  background-color: #FF1291; 
  color: #E6FCFF;
}

